<!DOCTYPE html>
<html lang="en">
<head>
  <title>Attendance by Date</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>

<div class="container">
  <h2></h2> 


  <p>Date: <input type="text" id="datepicker"></p>
 

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>STT</th>
        <th>Họ Tên</th>
        <th>Mã</th>
        <th>Ngày</th>
        <th>Giờ</th>
      </tr>
    </thead>
    <tbody>
        <% for(var i = 0; i < rs.length; i++) {%>

           <tr>
            <td><%= i + 1 %></td>
            <td><%= rs[i].user_id.name %>
               <br/>
                <a href="/attendance/user/<%= rs[i].user_id.code %>">(Xem Điểm Danh) </a>
            </td>
            <td><%= rs[i].user_id.code %></td>
            <td><%= rs[i].date %></td>
            <td><%= rs[i].time %></td>
          </tr>

        <%}%>
    </tbody>
  </table>
</div>

<script>
  $(function() {
   $("#datepicker").datepicker({
      onSelect: function() { 
          var dateObject = $(this).datepicker('getDate');
          var d = new Date(dateObject);
          var date = d.getDate() + '-' + (d.getMonth()+1) + '-' + d.getFullYear();
          window.location.replace("/attendance/date/" + date);
      }
  });

  });

</script>
</body>
</html>
